
h1 {
  background-color: white;
  text-align: center;
  padding: 20px;
  font-family: Lucida handwriting, cursive;
}

body {margin:0;}

.navigation{
  width: 100%;
  text-align: center;
  background-color: #CEE3F6; 
  overflow: hidden /* This Allows for the Background to span the entire height */
}

#nav-list{
  list-style-type: none;
  float: left; /* Keeps the elements side by side*/
  margin-bottom: 0 /* fix the spacing to allow the menu to be at the bottom */
}

#nav-list li{
  float: left; /* allows the li tags to be side by side. */
  font-size: 18px;
  margin: 20px 20px 0 0; /* Fixed a little of the spacing, etc. */
  padding:69px 0 0 0 /* Moved the LI down to be at the bottom*/
}

.logo-img{
  float: left;  
  margin: 0px 15px 0 0px; /* fixed the spacing. */
}

img {
  width: 5%;
  height: auto;
}